# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\catharine.e.silva\Desktop\Dados antigos do Firefox\TesteAutomacaoCissaMagazine\CissaMagazine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
